body{
    background-color: black;
}
div.statement{
    padding: 20vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: blanchedalmond;
    
}
h1{
    font-size: 10vh;
}
p{
    font-size: 5vh;
}