body{
    background-image: url(img/fondoMapa-06.png);
    position: relative;
    min-height: 90vh;
    padding: 0
}
p.center{
    mix-blend-mode: lighten;
    text-align: center;
    padding: 10vh;

}
.zoom {

  text-align: center;
  transition: transform .2s;
  width: 40vw;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1); 
}
div.grid{
    padding: 0;
    bottom: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
 
}
footer{
    position: fixed;
    padding: 0;
    bottom: 0;
    width: 100%
}

div.texto{
    margin: 10vw;
    background-color: rgb(255, 253, 247);
    background-blend-mode: difference;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    text-align: center;
}
h1{
    padding: 10vh;
    text-align: center;
}
p{
    padding: 5vw;
}
img.boton{
    mix-blend-mode: soft-light;
    position: absolute;
    bottom: 0;
    left: 50vw;
    max-width: 50vmax;
    height: auto;
    object-fit: cover;
  
}

img.mapa{
width: 20vw;
height: auto;
margin: 20vh;
left: 10vw;
}
/* FONDO VIDEO */
.contenido__video{
    background: #7DD174;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
   }
   
   /* Estilos para la etiqueta "video" con la calse (.video)  */
   .video{
    position: absolute;
    max-width: 300%;
    width: 100%;
   }
   
   /* media queries (personalizarlo a su antojo)*/
   @media(max-width: 900px){
    .video{
     width: 150%;
    }
   }
   @media(max-width: 650px){
    .video{
     width: 280%;
    }
   }
   @media(max-width: 480px){
    .video{ 
     width: 300%;
    }
   }
   