body{
    background-image: url(img/fondoMapa-06.png);
    position: relative;
    min-height: 90vh;
    padding: 0
}

div.grid{
    padding: 0;
    bottom: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
 
}
footer{
    position: fixed;
    padding: 0;
    bottom: 0;
    width: 100%
}

div{
    padding-top: 30vh;
    font-size: 2vh;
    text-align: center;
}

img.boton{
    mix-blend-mode: soft-light;
    position: absolute;
    bottom: 0;
    left: 50vw;
    max-width: 50vmax;
    height: auto;
    object-fit: cover;
  
}

img.mapa{
width: 20vw;
height: auto;
margin: 20vh;
left: 10vw;
}
img.qr{
    width: 25vw;
    height: auto;
    position: relative;
    vertical-align: middle;
}
div.grid2{
    padding: 0;
    bottom: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
 }